body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #4caf50;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #008cba;}
.button3 {background-color: #f44336;}
.button4 {background-color: #e7e7e7; color: black;}
.button5 {background-color: #555555;}
.button6 {background-color: orange;}
.button7 {background-color: purple;}

.github {
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
}

.github:hover {
    text-decoration: underline;
}

table {
    margin-left: auto;
    margin-right: auto;
}

input[type=text], [type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
